* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a:link, a:visited {
    text-decoration: none;
}
em, i {
    font-style: normal;
}
body {
    background-color: #f4f5f8;
}
/* ::-webkit-scrollbar{
    background: rgb(184, 176, 174);
    width: 10px;
    height: 10px;
    border:1px #000 solid;
    border-radius: 10px;
} */